.top_Padding {
  padding-top: 11.9rem;
}
.pageContainer,
.bodyContainer,
.commentContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0 0 0;
}
.pageContainer_itemContainer,
.bodyContainer_body,
.commentContainer_body {
  display: block;
  background-color: #ffffff;
  width: 1200px;
}
.pageContainer_itemContainer_header {
  display: flex;
}
.pageContainer_itemContainer_header_left {
  display: block;
  width: 480px;
  padding: 15px;
}
.pageContainer_itemContainer_header_left_imageContainer {
  display: flex;
  width: 450px;
  height: 450px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pageContainer_itemContainer_header_left_imageContainer_img {
  min-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.pageContainer_itemContainer_header_left_info {
  display: block;
  width: 186px;
  height: 123px;
  padding: 10px;
}
.pageContainer_itemContainer_header_right {
  display: block;
  width: 720px;
  padding: 20px;
}
.pageContainer_itemContainer_header_right_itemTitle {
  display: flex;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 20px 0;
}
.pageContainer_itemContainer_header_right_priceContainer {
  display: flex;
  background-color: #fafafa;
  width: 100%;
  padding: 15px 20px;
}
.pageContainer_itemContainer_header_right_priceContainer_priceTitle {
  display: flex;
  color: #ee4d2d;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}
.pageContainer_itemContainer_header_right_optionContainer {
  display: flex;
  margin-top: 1.5625rem;
  padding: 0 1.25rem;
}
.pageContainer_itemContainer_header_right_optionContainer_title {
  display: flex;
  width: 110px;
  color: #757575;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  font-style: normal;
}
.pageContainer_itemContainer_header_right_optionContainer_content {
  display: flex;
}
.pageContainer_itemContainer_header_right_optionContainer_content_inputQuantity {
  display: inline-block;
}

.pageContainer_itemContainer_header_right_optionContainer_content_inputQuantity_text {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.pageContainer_itemContainer_header_right_optionContainer_content_inputQuantity_minus,
.pageContainer_itemContainer_header_right_optionContainer_content_inputQuantity_plus {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
  &:hover {
    background: #eeeeee;
  }
  &:focus {
    outline: none;
  }
}

.pageContainer_itemContainer_header_right_optionContainer_content_inputQuantity_minus {
  border-right: 0;
}

.pageContainer_itemContainer_header_right_optionContainer_content_inputQuantity_plus {
  border-left: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.pageContainer_itemContainer_header_right_btnContainer {
  display: flex;
  width: 100%;
  margin-top: 1.5625rem;
}

.pageContainer_itemContainer_header_right_btnContainer_addShoppingCart {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  color: #ee4d2d;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
  background-color: #ff57221a;
  border-radius: 3px;
  border: 1px solid #ee4d2d;
  margin: 0 15px 0 0;
  &:hover {
    opacity: 0.8;
  }
}

.pageContainer_itemContainer_header_right_btnContainer_buyItNow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
  background-color: #ee4d2d;
  border-radius: 3px;
  border: 1px solid #ee4d2d;
  &:hover {
    opacity: 0.8;
  }
}

.bodyContainer_body_desription {
  display: block;
  padding: 25px;
}

.bodyContainer_body_desription_title {
  color: #000000;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: 300;
  background-color: #00000005;
  padding: 14px;
}

.bodyContainer_body_desription_text {
  color: #000000;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 14px;
}

.commentContainer_body_desription {
  display: block;
  padding: 25px;
}

.commentContainer_body_desription_title {
  color: #000000;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: 300;
  padding: 14px;
}

.bodyContainer_body_desription_text {
  color: #000000;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 14px;
}
.commentContainer_body_desription_newComment {
  display: block;
  width: 100%;
  background-color: #fffbf8;
  padding: 20px 15px;
}
.commentContainer_body_desription_newComment_input {
  display: flex;
  width: 100%;
  height: 10rem;
  resize: none;
  color: #000000;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  border: 1px solid #dfdfdf;
  padding: 5px 5px;
}
.loginContent_submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 4rem;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background-color: #fb5533;
  border-radius: 2px;
  margin: 10px 0 0 0;
  &_allow {
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  &_not_allow {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
