.top_Padding {
  padding-top: 11.9rem;
}

.container {
}
.pageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}
.pageContainer_productContainer {
  display: bl;
  width: 1200px;
}
._pageContainer_productContainer_productHeader {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  height: 5.5rem;
  align-items: center;
  padding: 0 20px;
  margin: 0 0 12px 0px;
}
._pageContainer_productContainer_productHeader_text {
  display: flex;
  justify-content: center;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
}
._pageContainer_productContainer_productHeader_porductName {
  @extend ._pageContainer_productContainer_productHeader_text;
  width: 70%;
  justify-content: flex-start;
  font-size: 1.8rem;
}
._pageContainer_productContainer_productHeader_unitPrice {
  @extend ._pageContainer_productContainer_productHeader_text;
  width: 12%;
}
._pageContainer_productContainer_productHeader_count {
  @extend ._pageContainer_productContainer_productHeader_text;
  width: 12%;
}
._pageContainer_productContainer_productHeader_totalPrice {
  @extend ._pageContainer_productContainer_productHeader_text;
  width: 12%;
}
.container_cartFooter {
  display: block;
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  margin: 0 0 12px 0px;
}
.container_cartFooter_shipInfo {
  display: block;
  padding: 20px 30px 10px;
  border-bottom: 1px solid #00000025;
}
.container_cartFooter_shipInfo_title {
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
}
.container_cartFooter_shipInfo_customerName,
.container_cartFooter_shipInfo_customerAddress,
.container_cartFooter_shipInfo_customerPhoneNumber {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 24px 0;
}
.container_cartFooter_shipInfo_customerName_title,
.container_cartFooter_shipInfo_customerAddress_title,
.container_cartFooter_shipInfo_customerPhoneNumber_title {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  color: #333333;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  width: 10%;
}
.container_cartFooter_shipInfo_customerName_text,
.container_cartFooter_shipInfo_customerAddress_text,
.container_cartFooter_shipInfo_customerPhoneNumber_text {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 0 24px;
}
.container_cartFooter_row1 {
  display: block;
  background-color: #fffefb;
  padding: 20px 30px;
}
.container_cartFooter_row1_totalPriceContainer {
  display: block;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #00000025;
}
.container_cartFooter_row1_totalGoods_container {
  display: flex;
  width: auto;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
}
.container_cartFooter_row1_totalGoods {
  color: #0000008a;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
}
.container_cartFooter_row1_totalPrice {
  width: 135px;
  display: flex;
  justify-content: flex-end;
  color: #0000008a;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 0 5px;
  padding: 0 0 0 10px;
}
.container_cartFooter_row1_totalPay {
  width: 135px;
  display: flex;
  justify-content: flex-end;
  color: #ee4d2d;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 5px;
  padding: 0 0 0 10px;
}
.container_cartFooter_row1_toCasher {
  display: flex;
  width: auto;
  justify-content: flex-end;
  align-items: center;
}
.container_cartFooter_row1_toCasherBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background-color: #fb5533;
  border-radius: 2px;
  padding: 0 90px;
  margin: 0 0 0 15px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
.container_cartFooter_row2 {
  display: block;
  background-color: #fffefb;
  padding: 20px 30px;
  border-bottom: 1px solid #00000025;
}
.container_cartFooter_row2_top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.container_cartFooter_row2_couponTitle {
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
}
.container_cartFooter_row2_bottom {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.container_cartFooter_row2_bottom_couponTitle {
  color: #fb5533;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
}
.container_cartFooter_row2_couponTitle_inputBar {
  display: flex;
  width: 20%;
  background-color: #fff;
  height: 4rem;
  font-weight: 100;
  padding: 0 10px;
  margin: 0 0 0 24px;
  align-items: center;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  &::placeholder {
    opacity: 0.7;
  }
  &-error {
    z-index: 100;
    border: 1px solid #ff424f;
    background-color: #fff6f7;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
