.productGoodsItemContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 0 12px 0px;
}
.productGoodsItemContainer_sellerBlock {
  display: block;
  width: 100%;
}
