.top_Padding {
  padding-top: 11.9rem;
}
.pageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}
.pageContainer_searchContainer {
  display: block;
  width: 1200px;
}
.pageContainer_searchContainer_main {
  display: flex;
}
.pageContainer_searchContainer_left {
  display: block;
  width: 18%;
}
.pageContainer_searchContainer_left_filterBar {
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 24px 0;
}
.pageContainer_searchContainer_left_filterContainer {
}
.pageContainer_searchContainer_left_filterContainer_filterRow {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 3px solid #00000008;
}
.pageContainer_searchContainer_left_filterContainer_filterRow_title {
  display: flex;
  width: 100%;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 10px 0;
}
.PageContainer_searchContainer_left_filterContainer_filterRow_interContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.PageContainer_searchContainer_left_filterContainer_filterRow_interContainerBlock {
  display: grid;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  width: 100%;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
}
.PageContainer_searchContainer_left_filterContainer_filterRow_interContainerBlock_item {
  padding: 8px 0;
}
.PageContainer_searchContainer_left_filterContainer_filterRow_interContainer_inputCol_line {
  width: 25px;
  height: 2px;
  background-color: #0000001f;
  margin: 0 15px;
}
.PageContainer_searchContainer_left_filterContainer_filterRow_interContainer_inputCol {
  display: flex;
  align-items: center;
}
.PageContainer_searchContainer_left_filterContainer_filterRow_interContainer_submitCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContent_submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background-color: #fb5533;
  border-radius: 2px;
  margin: 20px 0 0 0;
  &-allow {
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  &-not-allow {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
.loginContent_inputBar {
  display: flex;
  width: 70px;
  height: 30px;
  background-color: #fff;
  font-weight: 100;
  padding: 1px 2px 1px 4px;
  align-items: center;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  &::placeholder {
    opacity: 0.7;
  }
  &-error {
    z-index: 100;
    border: 1px solid #ff424f;
    background-color: #fff6f7;
  }
}
.pageContainer_searchContainer_right {
  display: block;
  width: 82%;
}
.pageContainer_searchContainer_searchResultText {
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 24px 0;
  &_heightLight {
    @extend .pageContainer_searchContainer_searchResultText;
    color: #ee4d2d;
    padding: 0;
  }
}
.pageContainer_searchContainer_searchResultContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.pageContainer_searchContainer_sortingBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #00000008;
  margin: 0 0 20px;
  padding: 13px 20px;
}
.pageContainer_searchContainer_sortingBar_text {
  display: flex;
  color: #555555;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
}
.pageContainer_searchContainer_sortingBar_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 34px;
  border-radius: 2px;
  margin: 0 0 0 15px;
}
.pageContainer_searchContainer_sortingBar_btn_isSelect {
  @extend .pageContainer_searchContainer_sortingBar_btn;
  color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
  background-color: #ee4d2d;
  border: 1px solid #ee4d2d;
  &:hover {
    opacity: 0.8;
  }
}

.pageContainer_searchContainer_sortingBar_btn_notSelect {
  @extend .pageContainer_searchContainer_sortingBar_btn;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
  background-color: #ffffff;
  &:hover {
    opacity: 0.8;
  }
}

.pageContainer_searchContainer_sortingBar_sortPrice {
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #ffffff;
  margin: 0 0 0 15px;
  &:hover {
    .pageContainer_searchContainer_sortingBar_sortPrice_under {
      height: auto;
      transition: 0.2s;
      opacity: 1;
    }
  }
}
.pageContainer_searchContainer_sortingBar_sortPrice_subtitle {
  display: flex;
  width: 200px;
  height: 34px;
  align-items: center;
  border-radius: 2px;
}
.pageContainer_searchContainer_sortingBar_sortPrice_text {
  width: 75%;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
  margin: 0 12px;
}
.pageContainer_searchContainer_sortingBar_sortPrice_text_isSelect {
  @extend .pageContainer_searchContainer_sortingBar_sortPrice_text;
  color: #ee4d2d;
}
.pageContainer_searchContainer_sortingBar_sortPrice_text_notSelect {
  @extend .pageContainer_searchContainer_sortingBar_sortPrice_text;
  color: #000000cc;
}
.pageContainer_searchContainer_sortingBar_sortPrice_arrow {
  background-image: url("../../image/down-arrow.svg");
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.pageContainer_searchContainer_sortingBar_sortPrice_under {
  display: block;
  height: 0;
  position: absolute;
  overflow: hidden;
  align-items: center;
  z-index: 2;
  padding: 2px 0 0 0;
  opacity: 0;
  transition: 0.2s;
}
.pageContainer_searchContainer_sortingBar_sortPrice_under_subtitle {
  display: flex;
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  align-items: center;
  &:hover {
    .pageContainer_searchContainer_sortingBar_sortPrice_under_text {
      color: #ee4d2d;
      transition: 0.2s;
    }
  }
}
.pageContainer_searchContainer_sortingBar_sortPrice_under_text {
  width: 75%;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
  margin: 0 12px;
  transition: 0.2s;
}
.pageContainer_searchContainer_sortingBar_sortPrice_under_tick {
  background-image: url("../../image/tick.svg");
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  fill: #ee4d2d;
}
