.productGoodsItemContainer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}
.productGoodsItemContainer_goodsName {
  display: flex;
  align-items: center;
  width: 70%;
  color: #333333;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-weight: 200;
  font-style: normal;
}
.productGoodsItemContainer_goodsName_imageContainer {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 10px 0 0;
}
.productContainer_productHeader_porductName_imageContainer_img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.productGoodsItemContainer_goodsName_text {
  &:hover {
    text-decoration: underline;
  }
}
.productContainer_productHeader_count {
  display: flex;
  justify-content: center;
  width: 12%;
  color: #333333;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-weight: 200;
  font-style: normal;
}
.productContainer_productHeader_totalPrice {
  display: flex;
  justify-content: center;
  width: 12%;
  color: #333333;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-weight: 200;
  font-style: normal;
}
.productContainer_productHeader_unitPrice {
  display: flex;
  justify-content: center;
  width: 12%;
  color: #333333;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-weight: 200;
  font-style: normal;
}
.productGoodsItemContainer_goodsControl_text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
}
