.container {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin: 0 0 10px 0;
}
.container_topCol {
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 20px 0 20px;
}
.container_topCol_header {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 15px 0;
}
.container_topCol_header_titleBox {
  display: flex;
  width: 50%;
}
.container_topCol_header_titleBox_orderID {
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
}
.container_topCol_header_statusBox {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.container_topCol_header_statusBox_statusDescritption {
  color: #000000;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  padding: 0 10px 0 0;
}
.container_topCol_header_statusBox_status {
  color: #ee4d2d;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  border-left: 1px solid #e5e5e5;
  padding: 0 0 0 10px;
}
.container_topCol_goodsItemListContainer {
}
.container_bottomCol {
  padding: 0 20px;
  background-color: #fffefb;
}
.container_bottomCol_totalPriceContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
.container_bottomCol_totalPriceContainer_title {
  color: #000000;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
}
.container_bottomCol_totalPriceContainer_price {
  color: #ee4d2d;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 0 10px;
}
.container_bottomCol_optionContainer {
  display: flex;
  justify-content: flex-end;
  padding: 18px 0;
}
.loginContent_submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 4rem;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  background-color: #fb5533;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
.loginContent_submitBtn_none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 4rem;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.4rem;
  color: #000000cc;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
