$footer_height: 5rem;

.itemContainer {
  display: block;
  width: 186px;
  margin: 5px;
  background-color: #ffffff;
}
.itemContainer_imageContainer {
  display: flex;
  position: relative;
  width: 186px;
  height: 186px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.itemContainer_imageContainer_img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.itemContainer_info {
  display: block;
  width: 186px;
  height: 123px;
  padding: 10px;
}
.itemContainer_info_title {
  display: flex;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 5px 0;
}
.itemContainer_info_expdate {
  display: flex;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
}
.itemContainer_info_footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.itemContainer_footer_sales {
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
  margin: 5px 0 0 0;
}
.itemContainer_info_footer_btn_notTook {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
  background-color: #ee4d2d;
  border-radius: 3px;
  border: 1px solid #ee4d2d;
  margin: 10px 0;
  &:hover {
    opacity: 0.8;
  }
}
.itemContainer_info_footer_btn_isTook {
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  color: #ee4d2d;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 200;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ee4d2d;
  margin: 10px 0;
  &:hover {
    opacity: 0.8;
  }
}
