$footer_height: 5rem;

.itemContainer {
  display: block;
  width: 186px;
  margin: 5px;
  background-color: #ffffff;
}
.itemContainer_imageContainer {
  display: flex;
  width: 186px;
  height: 186px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.itemContainer_imageContainer_img {
  min-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: #0000000a;
}
.itemContainer_info {
  display: block;
  width: 186px;
  height: 123px;
  padding: 10px;
}
.itemContainer_info_top {
  height: 75%;
}
.itemContainer_info_top_title {
  display: flex;
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 5px 0;
}
.itemContainer_info_top_price {
  display: flex;
  color: #ee4d2d;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
}
.itemContainer_info_footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.itemContainer_footer_sales {
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
  margin: 5px 0 0 0;
}
