.productSellerItemContainer {
  display: block;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin: 0 0 12px 0px;
}
.productSellerItemContainer_header {
  display: flex;
  padding: 10px 20px;
}
.productSellerItemContainer_header_sellerUserName_icon {
  width: 17px;
  height: 17px;
  background-image: url(../../../image/shop.svg);
  margin: 0 10px 0 0;
}
.productSellerItemContainer_header_sellerUserName {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  color: #333333;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  font-weight: 300;
  font-style: normal;
}
.productSellerItemContainer_goodsList {
  display: block;
  width: 100%;
}
.productSellerItemContainer_footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: #fafdff;
  padding: 20px 30px;
}
.productSellerItemContainer_footer_totalGoods {
  color: #000000cc;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
}

.productSellerItemContainer_footer_totalPrice {
  color: #ee4d2d;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 0 20px;
}
